<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="menu_dropdown bk_2" th:fragment="menu">
    <button type="button" class="btn btn-default btn-lg btn-block"><a th:href="@{/userList}" data-title="用户列表">用户管理</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a th:href="@{/modelList}" data-title="模板列表">模板列表</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a th:href="@{/likesCount}" data-title="点赞统计">点赞统计</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a th:href="@{/complainCount}" data-title="投诉统计">投诉统计</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block"><a th:href="@{/log}" data-title="登录日志">登录日志</a></button>
</div>
</body>
</html>